@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html,
  body {
    background: rgb(27, 34, 45);
  }

  html {
    overflow-y: scroll;
  }

  .c-page-title {
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
  }
  /*
    Select Boxes
  */
  .c-select-wrapper {
    @apply flex flex-wrap justify-center;
  }
  .c-select-label {
    @apply pb-2 text-white font-bold;
  }
  .c-select {
    @apply px-4 border-2 rounded-2xl text-white;
    min-width: 260px;
    background: #4e5669;
    min-height: 30px;
  }

  /*
    Cards
  */
  .c-card-wrapper {
    @apply m-auto pt-4 grid gap-4 auto-rows-min place-content-center;
    grid-template-columns: repeat(auto-fit, 300px);
    max-width: 1272px;
  }

  .c-card {
    @apply text-center border-2 rounded-2xl p-4 flex flex-col;
    min-height: 100%;
  }

  .c-card__title {
    @apply text-base font-bold my-2 mx-auto flex-1;
    color: rgb(2, 171, 222);
    width: 80%;
  }
  .c-card__symobl {
    @apply text-white text-sm;
  }

  .c-loading {
    @apply w-full my-2;
  }

  /*
   loader 
  */
  .c-loadmore {
    @apply text-center w-full p-4;
  }

  .c-loading__icon {
    @apply block m-auto;
  }

  /*
   btn
  */

  .c-btn {
    @apply rounded-xl no-underline text-base text-white px-3 py-2;
    background-color: rgb(2, 171, 222);
  }

  .c-btn:hover,
  .c-btn:focus {
    background-color: rgb(2, 154, 200);
  }

  /*
  Error State
  */
  .c-no-data {
    @apply m-auto;
  }

  .c-message {
    @apply text-center text-white font-bold mt-2;
  }
}
