<script>
import CompanyCard from "../components/CompanyCard.vue";
import CountrySelector from "../components/CountrySelector.vue";
import SortSelector from "../components/SortSelector.vue";
import LoadMore from "../components/LoadMore.vue";
import Loading from "../components/Loading.vue";
import NoData from "../components/NoData.vue";
export default {
  name: "Home",
  components: {
    CompanyCard,
    CountrySelector,
    SortSelector,
    LoadMore,
    Loading,
    NoData,
  },
  computed: {
    market() {
      return this.$store.state.stocks.app.market;
    },
    stocks() {
      return this.$store.state.stocks.all;
    },
    isLoading() {
      return this.$store.state.stocks.app.isLoading;
    },
    hasError() {
      return this.$store.state.stocks.app.hasError;
    },
  },

  created() {
    this.$store.dispatch("stocks/fetchStocks");
  },
};
</script>

<template>
  <div class="">
    <div class="w-full">
      <h1 class="c-page-title" data-test="title">{{ market }} Stocks</h1>
      <div class="c-select-wrapper">
        <CountrySelector class="p-2" />
        <SortSelector class="p-2" />
      </div>
    </div>
    <ul v-if="!isLoading" class="c-card-wrapper">
      <li v-for="company in stocks" :key="company.index">
        <CompanyCard
          data-testid="card"
          :name="company.name"
          :stockSymbol="company.ticker_symbol"
          :score="company.score"
        ></CompanyCard>
      </li>
    </ul>
    <div v-if="!isLoading">
      <LoadMore />
      <NoData v-if="!stocks.length && !hasError" msg="Not Data Found" />
      <NoData v-if="!stocks.length && hasError" msg="There was some error!" />
    </div>
    <Loading v-if="isLoading" />
  </div>
</template>
