<script>
import Chart from "chart.js/auto";

export default {
  name: "Chart",
  props: {
    chartData: Object,
  },
  mounted() {
    let vm = this;
    let labels = ["Value", "Future", "Past", "Health", "Income"];
    let dataset = labels.map((item) => {
      return vm.chartData[item.toLowerCase()];
    });

    let ctx = vm.$refs.canvas;

    new Chart(ctx, {
      type: "radar",
      data: {
        labels: labels,
        datasets: [
          {
            data: dataset,
            fill: true,
            backgroundColor: "rgba(2, 171, 222,0.5)",
            borderColor: "rgba(2, 171, 222,0.8)",
            pointBackgroundColor: "rgba(2, 171, 222,0.5)",
            pointBorderColor: "rgba(2, 171, 222,0.5)",
            pointHoverBackgroundColor: "rgba(2, 171, 222,0.5)",
            pointHoverBorderColor: "rgba(2, 171, 222,0.5)",
            pointRadius: 0,
          },
        ],
      },
      options: {
        layout: {
          //   padding: 20,
        },
        plugins: {
          legend: {
            display: false,
          },
          tooltip: {
            enabled: false,
          },
        },
        scales: {
          r: {
            grid: {
              circular: true,
              color: "rgba(66, 75, 88, 0.5)",
            },
            pointLabels: {
              color: "#fff",
              font: {
                size: 12,
                weight: "bold",
              },
            },
            ticks: {
              display: false,
              color: "red",
            },
          },
        },
      },
    });
  },
  created() {},
};
</script>

<template>
  <canvas ref="canvas"></canvas>
</template>
