<script>
import Chart from "./Chart.vue";
export default {
  components: { Chart },
  props: {
    name: String,
    stockSymbol: [String, Number],
    score: Object,
  },
  computed() {},
};
</script>

<template>
  <article class="c-card" data-test="stock-card">
    <div class="c-card__chart">
      <Chart :chartData="score.data"></Chart>
    </div>
    <h3 class="c-card__title">{{ name }}</h3>
    <span class="c-card__symobl">{{ stockSymbol }}</span>
  </article>
</template>
