<script>
export default {
  data() {
    return {
      options: [
        { value: "global", label: "Global" },
        { value: "us", label: "United States" },
        { value: "au", label: "Australia" },
        { value: "gb", label: "United Kingdom" },
        { value: "ca", label: "Canada" },
        { value: "in", label: "India" },
        { value: "cn", label: "China" },
        { value: "ar", label: "Argentina" },
        { value: "at", label: "Austria" },
        { value: "bh", label: "Bahrain" },
        { value: "bd", label: "Bangladesh" },
        { value: "be", label: "Belgium" },
        { value: "bm", label: "Bermuda" },
        { value: "bw", label: "Botswana" },
        { value: "br", label: "Brazil" },
        { value: "bg", label: "Bulgaria" },
        { value: "cl", label: "Chile" },
        { value: "co", label: "Colombia" },
        { value: "hr", label: "Croatia" },
        { value: "cy", label: "Cyprus" },
        { value: "cz", label: "Czech Republic" },
        { value: "dk", label: "Denmark" },
        { value: "eg", label: "Egypt" },
        { value: "ee", label: "Estonia" },
        { value: "fi", label: "Finland" },
        { value: "fr", label: "France" },
        { value: "de", label: "Germany" },
        { value: "gh", label: "Ghana" },
        { value: "gr", label: "Greece" },
        { value: "hk", label: "Hong Kong" },
        { value: "hu", label: "Hungary" },
        { value: "is", label: "Iceland" },
        { value: "id", label: "Indonesia" },
        { value: "ie", label: "Ireland" },
        { value: "il", label: "Israel" },
        { value: "it", label: "Italy" },
        { value: "ci", label: "Ivory Coast" },
        { value: "jm", label: "Jamaica" },
        { value: "jp", label: "Japan" },
        { value: "jo", label: "Jordan" },
        { value: "kz", label: "Kazakhstan" },
        { value: "ke", label: "Kenya" },
        { value: "kw", label: "Kuwait" },
        { value: "lv", label: "Latvia" },
        { value: "lt", label: "Lithuania" },
        { value: "lu", label: "Luxembourg" },
        { value: "mw", label: "Malawi" },
        { value: "my", label: "Malaysia" },
        { value: "mt", label: "Malta" },
        { value: "mu", label: "Mauritius" },
        { value: "mx", label: "Mexico" },
        { value: "ma", label: "Morocco" },
        { value: "na", label: "Namibia" },
        { value: "nl", label: "Netherlands" },
        { value: "nz", label: "New Zealand" },
        { value: "ng", label: "Nigeria" },
        { value: "no", label: "Norway" },
        { value: "om", label: "Oman" },
        { value: "pk", label: "Pakistan" },
        { value: "ps", label: "Palestinian Authority" },
        { value: "pe", label: "Peru" },
        { value: "ph", label: "Philippines" },
        { value: "pl", label: "Poland" },
        { value: "pt", label: "Portugal" },
        { value: "qa", label: "Qatar" },
        { value: "ro", label: "Romania" },
        { value: "ru", label: "Russia" },
        { value: "sa", label: "Saudi Arabia" },
        { value: "rs", label: "Serbia" },
        { value: "sg", label: "Singapore" },
        { value: "sk", label: "Slovakia" },
        { value: "si", label: "Slovenia" },
        { value: "za", label: "South Africa" },
        { value: "kr", label: "South Korea" },
        { value: "es", label: "Spain" },
        { value: "lk", label: "Sri Lanka" },
        { value: "se", label: "Sweden" },
        { value: "ch", label: "Switzerland" },
        { value: "tw", label: "Taiwan" },
        { value: "tz", label: "Tanzania" },
        { value: "th", label: "Thailand" },
        { value: "tt", label: "Trinidad &amp; Tobago" },
        { value: "tn", label: "Tunisia" },
        { value: "tr", label: "Turkey" },
        { value: "ug", label: "Uganda" },
        { value: "ua", label: "Ukraine" },
        { value: "ae", label: "United Arab Emirates" },
        { value: "ve", label: "Venezuela" },
        { value: "vn", label: "Vietnam" },
        { value: "zm", label: "Zambia" },
        { value: "zw", label: "Zimbabwe" },
      ],
    };
  },
  computed() {},
  methods: {
    switchSelect(event) {
      this.$store.dispatch("stocks/updateCountryFilter", event.target.value);
    },
  },
};
</script>

<template>
  <div>
    <div class="c-select-label">Select Country</div>
    <select name="country" class="c-select" v-on:change="switchSelect($event)">
      <option
        v-for="option in options"
        :key="option.value"
        :value="JSON.stringify(option)"
      >
        {{ option.label }}
      </option>
    </select>
  </div>
</template>
