<script>
import Loading from "./Loading.vue";
export default {
  components: { Loading },
  computed: {
    isPaginationLoading() {
      return this.$store.state.stocks.pagination.isLoading;
    },
    hasMoreItems() {
      let currentNumberOfItems =
        (this.$store.state.stocks.pagination.currentPage + 1) *
        this.$store.state.stocks.pagination.itemsPerPage;
      let totalNumberOfItems = this.$store.state.stocks.pagination.totalItems;

      if (currentNumberOfItems < totalNumberOfItems) {
        return true;
      } else {
        return false;
      }
    },
  },
  methods: {
    loadMore() {
      this.$store.dispatch("stocks/loadMoreStocks");
    },
  },
};
</script>

<template>
  <!-- Load More -->
  <div class="c-loadmore" v-if="hasMoreItems">
    <button v-if="!isPaginationLoading" @click="loadMore" class="c-btn">
      Load More
    </button>
    <Loading v-if="hasMoreItems && isPaginationLoading" />
  </div>
  <!-- Load More -->
</template>
