<script>
export default {
  props: {
    msg: String,
  },
};
</script>

<template>
  <div class="c-no-data">
    <svg
      width="180"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 180 42"
      style="margin: auto"
    >
      <path
        d="M61.362 32.3h-9.72V19.19h2.909v10.488h6.81V32.3zM41.538 25.802v-4.008h2.248c1.454 0 2.361.693 2.361 1.985v.037c0 1.124-.85 1.986-2.304 1.986h-2.305zm-2.91 6.498h2.91v-3.933h2.21c2.966 0 5.347-1.574 5.347-4.607v-.037c0-2.678-1.91-4.532-5.063-4.532h-5.404V32.3zm-16.398 0h2.852v-8.502l3.684 5.543h.076l3.722-5.6V32.3h2.89V19.19h-3.08l-3.532 5.544-3.62-5.543H22.23V32.3zM67.374 32.3h-2.91v-5.169l-5.082-7.94h3.401l3.155 5.262 3.211-5.262h3.308l-5.083 7.884V32.3zM18.922 32.3h-2.909V19.19h2.91V32.3zM13.209 28.423c0 2.604-2.204 4.064-5.343 4.064-2.204 0-4.428-.693-6.173-2.098l1.688-2.03c1.31.975 2.886 1.582 4.548 1.582 1.31 0 2.224-.47 2.224-1.236v-.037c0-.731-.552-1.149-2.983-1.711-2.932-.674-4.896-1.592-4.896-3.965v-.036c0-2.38 2.12-3.952 5.093-3.952 2.12 0 3.93.598 5.405 1.666l-1.732 2.14c-1.289-.806-2.488-1.26-3.715-1.26-1.225 0-2.047.505-2.047 1.142v.038c0 .861.8 1.143 3.316 1.723 2.953.693 4.615 1.649 4.615 3.933v.037zM129.322 27.521l3.022-6.62 3.005 6.62h-6.027zm-3.682 4.78h1.528l1.568-3.44h7.2l1.548 3.44h1.607l-6.028-13.11h-1.398L125.64 32.3zM150.297 32.3h-8.794V19.19h1.493v11.744h7.301V32.3zM161.59 32.3h-8.795V19.19h1.493v11.744h7.302V32.3zM114.143 32.3h-1.337l-4.148-13.11h1.454l3.387 10.841 3.248-10.84h1.101l3.25 10.84 3.384-10.84h1.406l-4.161 13.11h-1.294l-3.159-10.523-3.131 10.522zM164.148 30.934h14.86v1.367h-14.86v-1.367zM171.409 26.049c0 1.795-1.461 2.854-3.458 2.854-1.509 0-2.816-.477-3.929-1.446l1.205-1.408c.834.672 1.666 1.106 2.724 1.106.834 0 1.376-.384 1.376-.914v-.025c0-.541-.336-.953-1.863-1.306-1.867-.466-3.07-1.188-3.07-2.866v-.025c0-1.64 1.349-2.725 3.241-2.725 1.349 0 2.499.413 3.438 1.15l-1.056 1.497c-.821-.555-1.629-.89-2.409-.89-.781 0-1.191.348-1.191.787v.026c0 .594.396.89 1.998 1.29 1.878.477 2.994 1.294 2.994 2.869v.026zM176.606 28.819h-1.942v-7.562h-2.481v-1.834h6.89v1.835h-2.467v7.56z"
        fill="#fff"
      ></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M90.596 9.015c9.016 0 16.325 7.244 16.325 16.182 0 8.937-7.309 16.183-16.325 16.183-9.016 0-16.326-7.246-16.326-16.183S81.58 9.015 90.596 9.015z"
        fill="#CCC"
      ></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M106.506 28.832h.002l-.003.01a16.088 16.088 0 01-.629 2.066l-.036.093c-.034.083-.066.167-.101.25a1.83 1.83 0 01-.055.131c-.028.073-.059.145-.089.218l-.072.162-.085.184-.085.184-.079.164a16.343 16.343 0 01-14.677 9.087 16.338 16.338 0 01-14.686-9.106l-.059-.12c-.036-.08-.075-.157-.11-.237-.02-.041-.038-.082-.057-.124l-.107-.241-.048-.112a15.444 15.444 0 01-.106-.259l-.04-.1a22.707 22.707 0 01-.108-.278l-.031-.083-.106-.297-.023-.069c-.035-.104-.07-.21-.103-.316l-.018-.057a13.32 13.32 0 01-.1-.332l-.011-.045a30.529 30.529 0 01-.096-.343l-.01-.04a16.49 16.49 0 01-.085-.35l-.01-.038v-.003a587.29 587.29 0 018.538-5.6c2.718-.646 5.175-1.007 7.376-1.083 2.198.077 4.656.437 7.374 1.082 3.144 2.017 6.52 4.204 8.553 5.529v.001l-.002.002v.001c-.005.024-.009.046-.016.07z"
        fill="#1A1A1A"
      ></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M74.684 28.832a587.29 587.29 0 018.537-5.6c2.718-.646 5.175-1.007 7.376-1.083 2.198.077 4.656.437 7.374 1.082 3.144 2.017 6.52 4.204 8.553 5.528-.022.103-.047.204-.072.306l-.012.05c-.024.096-.05.19-.076.287l-.016.06a7.339 7.339 0 01-.081.286l-.013.043c-.158.531-.343 1.051-.552 1.558l-.019.04c-.036.09-.076.179-.114.269l-.026.059-.119.262-.025.054c-.043.088-.084.179-.128.268l-.011.02c-.193.387-.398.766-.622 1.137l-.027.047c-.048.079-.098.157-.146.234l-.043.07c-.048.076-.097.15-.146.225l-.047.07c-.048.076-.1.15-.151.224l-.038.056c-.237.337-.484.665-.745.984-.016.02-.035.042-.05.063-.053.065-.108.129-.161.19a2.645 2.645 0 01-.073.086l-.157.18-.079.087c-.053.06-.108.119-.161.177-.025.028-.05.055-.079.083-.056.059-.111.119-.17.177a14.257 14.257 0 01-.749.726l-.159.143-.113.1c-.05.044-.103.088-.156.133-.042.033-.082.068-.122.102l-.158.129c-.039.033-.081.065-.123.099l-.16.126c-.042.032-.085.066-.13.099-.055.04-.105.08-.159.12l-.134.096a17.875 17.875 0 01-.444.312c-.05.032-.098.065-.146.097l-.16.104c-.052.033-.102.064-.15.096l-.162.1-.151.09-.172.101-.146.084a10.38 10.38 0 01-.184.101 10.095 10.095 0 01-.384.205l-.107.055-.298.147c-.04.02-.08.038-.121.057l-.216.099-.138.062c-.069.03-.136.06-.204.088l-.146.061-.203.082-.144.057-.216.081-.135.05-.274.096a4.201 4.201 0 00-.078.027c-.118.038-.237.078-.357.114l-.096.028a10.704 10.704 0 01-.395.114c-.08.021-.159.044-.24.064l-.14.035c-.077.02-.156.038-.233.057l-.142.032-.243.053c-.043.01-.086.018-.13.027a11.28 11.28 0 01-.375.07c-.127.024-.256.045-.383.064l-.043.006c-.113.017-.227.033-.341.048l-.115.014-.271.03-.134.014c-.087.008-.173.016-.26.022-.046.004-.092.008-.14.01a7.07 7.07 0 01-.259.017l-.136.008c-.096.005-.193.008-.29.01l-.102.004a17.748 17.748 0 01-.8 0l-.104-.003-.29-.01-.132-.01a7.468 7.468 0 01-.4-.026c-.088-.006-.173-.014-.259-.022-.045-.004-.09-.007-.133-.013-.094-.01-.189-.02-.28-.032a15.488 15.488 0 01-.48-.064l-.01-.002a12.467 12.467 0 01-.469-.078c-.098-.018-.197-.035-.294-.056l-.122-.025a15.032 15.032 0 01-.628-.144c-.043-.012-.087-.022-.13-.033a11.358 11.358 0 01-.367-.1c-.107-.03-.213-.06-.32-.093l-.042-.013c-.122-.038-.243-.078-.364-.117-.026-.009-.051-.019-.078-.027-.093-.032-.184-.063-.275-.096l-.12-.044-.233-.088a8.583 8.583 0 01-.129-.05l-.222-.09-.126-.053a28.61 28.61 0 01-.344-.15 11.509 11.509 0 01-.275-.126l-.06-.028a17.402 17.402 0 01-.411-.204c-.085-.044-.17-.09-.253-.132-.038-.02-.075-.041-.113-.063l-.213-.117-.12-.068-.203-.12-.119-.07-.209-.13c-.034-.02-.068-.043-.103-.066-.08-.05-.159-.103-.238-.154l-.072-.048-.304-.208-.06-.043c-.079-.057-.159-.114-.238-.173-.034-.025-.068-.05-.102-.077-.064-.047-.128-.095-.19-.144l-.111-.087a5.557 5.557 0 01-.182-.145c-.036-.03-.073-.058-.107-.088-.06-.049-.121-.099-.18-.15-.035-.03-.07-.058-.104-.089a9.734 9.734 0 01-.19-.166c-.028-.026-.058-.05-.086-.077-.09-.08-.178-.162-.266-.246l-.05-.047c-.072-.067-.142-.136-.212-.205l-.095-.096a15.519 15.519 0 01-.517-.542l-.146-.164a12.065 12.065 0 01-.097-.111c-.053-.06-.104-.12-.155-.182a15.546 15.546 0 01-.31-.377c-.01-.012-.02-.027-.032-.04a22.838 22.838 0 01-.19-.246c-.029-.038-.055-.076-.085-.113l-.131-.18a8.246 8.246 0 01-.211-.3l-.089-.13-.12-.181c-.03-.042-.055-.084-.083-.127-.04-.063-.08-.126-.118-.19-.026-.04-.053-.081-.078-.122-.048-.08-.096-.16-.142-.24-.023-.038-.046-.076-.067-.114a9.364 9.364 0 01-.223-.4c-.034-.064-.07-.128-.103-.193l-.073-.143c-.032-.062-.063-.125-.094-.189-.023-.048-.048-.097-.07-.146-.03-.061-.059-.123-.088-.186l-.07-.152a4.88 4.88 0 01-.085-.193l-.063-.143-.096-.234-.045-.11c-.044-.11-.086-.22-.128-.332l-.052-.145c-.025-.067-.05-.136-.073-.204l-.052-.158a8.696 8.696 0 01-.065-.197l-.05-.162-.06-.197-.047-.162c-.02-.068-.036-.136-.055-.204-.015-.053-.03-.105-.042-.158-.02-.076-.038-.152-.056-.227l-.034-.138v-.007h-.002z"
        fill="#333"
      ></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M74.684 28.832c3.554 2.673 7.802 4.97 7.802 4.97-.835 1.163-1.514 2.545-2.046 4.066a16.17 16.17 0 01-5.756-9.036z"
        fill="#333"
      ></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M106.524 28.759c-3.557 2.672-7.804 4.97-7.804 4.97.845 1.175 1.528 2.574 2.062 4.112a16.134 16.134 0 005.742-9.082zM75.529 31.438l-.846-2.606 8.657-5.601 7.263 15.239v2.91h-.006a16.332 16.332 0 01-15.068-9.942z"
        fill="#4D4D4D"
      ></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M105.739 31.253l.719-2.22c.018-.07.037-.14.05-.21l-8.641-5.593-7.264 15.24v2.91c6.853-.003 12.718-4.191 15.136-10.127z"
        fill="#333"
      ></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M83.22 23.23l7.376 15.69 7.374-15.69H83.22z"
        fill="#CCC"
      ></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M88.667 34.818l1.93 4.102 1.927-4.102-1.396-2.598h-.03l1.057-1.003.162-.137-.575-2.917c-.102-.102-.083-.114-.207-.114l-.94.19-.94-.19c-.125 0-.106.012-.207.114l-.575 2.917.16.137 1.059 1.003h-.03l-1.395 2.598z"
        fill="#C30"
      ></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M90.597 38.92l1.927-4.102-1.396-2.598h-.03l1.057-1.003.162-.137-.575-2.917c-.102-.102-.083-.114-.207-.114l-.94.19v10.68h.002z"
        fill="#A32900"
      ></path>
      <path d="M91.5 34.495h-3.541v.707h3.54v-.707z" fill="#FC0"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M83.22 23.23l4.313 9.176 3.063-3.028 2.93-6.148h4.444l-4.311 9.176-3.063-3.028-2.933-6.148H83.22z"
        fill="#fff"
      ></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M81.696 24.215l-.359 4.013 2.446 1.086-1.817 1.092 8.63 8.514-7.376-15.69-1.524.985zM99.494 24.215l.36 4.013-2.446 1.086 1.818 1.092-8.63 8.514 7.374-15.69 1.524.985z"
        fill="#1A1A1A"
      ></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M90.603 39.623c.369 0 .666.297.666.661 0 .364-.297.66-.666.66a.663.663 0 01-.665-.66c0-.365.298-.66.665-.66z"
        fill="#B3B3B3"
      ></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M90.603 39.623c.369 0 .666.297.666.661 0 .364-.297.66-.666.66v-1.32z"
        fill="gray"
      ></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M90.603 39.623c.369 0 .666.297.666.661 0 .364-.297.66-.666.66a.663.663 0 01-.665-.66c0-.365.298-.66.665-.66z"
        fill="#B3B3B3"
      ></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M90.603 39.623c.369 0 .666.297.666.661 0 .364-.297.66-.666.66v-1.32z"
        fill="gray"
      ></path>
      <path d="M101.327 35.52h-5.61v.775h5.61v-.775z" fill="#4D4D4D"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M95.718 35.52l2.288-2.269 1.299 1.285.515-.51 1.507 1.494h-5.609z"
        fill="#fff"
      ></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M98.62 14.082c-.808-1.038-.78-1.932.083-2.684 3.463.945 5.241 1.384 5.329 1.317-1.368 2.09-3.173 2.546-5.412 1.367zm-16.05 0c.809-1.038.781-1.932-.083-2.684-3.463.945-5.238 1.384-5.328 1.317 1.367 2.09 3.172 2.546 5.412 1.367z"
        fill="#963"
      ></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M95.683 12.667c-1.698-1.98-1.944-3.106-.74-3.377 4.785.25 6.611-1.826 5.48-6.223L99.557.999c2.953 1.921 4.273 4.554 3.87 7.893-.228 1.89-2.837 3.146-7.744 3.775zm-10.175 0c1.698-1.98 1.944-3.106.74-3.377-4.785.25-6.61-1.826-5.48-6.223.577-1.38.868-2.068.868-2.068-2.955 1.921-4.274 4.554-3.872 7.893.227 1.89 2.836 3.146 7.744 3.775z"
        fill="#4D4D4D"
      ></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M90.596 29.378l-10.761-8.97c.186-4.75 1.104-8.7 2.756-11.849 1.605-1.86 4.263-2.39 8.005-2.39 3.74 0 6.398.53 8.002 2.39 1.652 3.15 2.571 7.1 2.758 11.85l-10.76 8.969z"
        fill="#C93"
      ></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M90.597 6.169c3.74 0 6.398.53 8.002 2.39 1.651 3.15 2.57 7.1 2.757 11.85l-10.76 8.969V6.168z"
        fill="#A37A29"
      ></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M79.892 19.088c.294-4.166 1.188-7.676 2.684-10.53.064-.073.129-.146.197-.215 4.13-3.252 3.276 7.405 3.319 8.746.433 1.542-.58 2.484-3.038 2.828-1.275-.19-2.329-.467-3.162-.829zM101.3 19.088c-.294-4.166-1.19-7.676-2.685-10.53a5.314 5.314 0 00-.197-.215c-4.131-3.252-3.277 7.405-3.319 8.746-.433 1.542.58 2.484 3.039 2.828 1.274-.19 2.327-.467 3.162-.829z"
        fill="#963"
      ></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M90.596 29.378L79.835 20.41a39.41 39.41 0 01.265-3.32h20.989c.132 1.06.221 2.166.267 3.32l-10.76 8.97z"
        fill="#963"
      ></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M90.597 29.378l-7.069-5.889s.929-1.391 2.783-4.176c-.107-.977-.119-1.718-.038-2.223h1.8c.662.697 1.503 1.842 2.523 3.438 1.018-1.596 1.857-2.74 2.52-3.438h1.801c.08.506.068 1.247-.038 2.223 1.854 2.785 2.783 4.176 2.783 4.176l-7.065 5.89z"
        fill="#85592B"
      ></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M86.312 19.313c.056-1.424 2.296-.082 3.329.614.167.128.338.248.511.36h.001c.154.1.311.193.469.28.363-.199.718-.434 1.063-.704 1.07-.71 3.18-1.931 3.234-.55 3.05-5.389-11.809-5.377-8.607 0z"
        fill="#1A1A1A"
      ></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M90.597 15.56c1.37 0 2.482.54 2.482 1.205s-1.111 1.204-2.482 1.204c-1.373 0-2.485-.54-2.485-1.204 0-.666 1.112-1.205 2.485-1.205z"
        fill="#666"
      ></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M90.597 23.19c-3.486 0-4.114-.62-3.94-1.968.046 1.129 1.358 1.391 3.94 1.391 2.58 0 3.891-.262 3.937-1.391.174 1.349-.454 1.968-3.938 1.968zM96.513 12.928c-.644-.027-1.21.491-1.419 1.156-.518-4.31 3.511-4.49 4.413-1.662-.76.46-1.577.567-2.994.506zm-11.835 0c.645-.027 1.21.491 1.42 1.156.517-4.31-3.513-4.49-4.413-1.662.759.46 1.576.567 2.993.506z"
        fill="#1A1A1A"
      ></path>
    </svg>
    <div class="c-message">{{ msg }}</div>
  </div>
</template>
