<script>
export default {
  data() {
    return {
      options: [
        { value: "desc", label: "Descending" },
        { value: "asc", label: "Ascending" },
      ],
    };
  },
  computed() {},
  methods: {
    switchSelect(event) {
      this.$store.dispatch("stocks/updateSortFilter", event.target.value);
    },
  },
};
</script>

<template>
  <div>
    <div class="c-select-label">Market Cap</div>
    <select class="c-select" name="country" v-on:change="switchSelect($event)">
      <option
        v-for="option in options"
        :key="option.value"
        :value="option.value"
      >
        {{ option.label }}
      </option>
    </select>
  </div>
</template>
